*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    
}

.wrapper{
    width: 100%;
    max-width: 960px;
}

.flex-container{
    display: flex;
    background: white;
    flex-wrap: wrap;
}

.box{
    height: 100px;
    flex:  1;
    
    
}

.one{
    background: red;
    flex-grow: 5;
    
    
}

.two{
    background: blue;
    flex-grow: 4;
  
    
}

.three{
    background: green;
    flex-grow: 7;

}